<ion-app>
  <div class="header">
    <header>
       
      <h1 class="logo">Buscar CEP</h1>
    </header>
  </div>
  <ion-content>
    <div class="C" id="CEP">
      <ion-item>
        <label>CEP:</label>
      </ion-item>
    </div>

    <div class="N" id="numero">
      <ion-item>
        <label>Número:</label>
        <ion-input></ion-input>
      </ion-item>
    </div>

    <div class="L" id="logradouro">
      <ion-item>
        <label>Logradouro:</label>
        <ion-input></ion-input>
      </ion-item>
    </div> </ion-content
></ion-app>

    <div class="B" id="Bairro">
    <ion-item>
    <label>Bairro:</label>
    <ion-input></ion-input>
    </ion-item>
    </div>

    <div class="U" id="UF">
    <ion-item>
    <label>UF</label>
    <ion-input></ion-input>
    </ion-item>
    </div>

    <div class="LC" id="Localidade">
    <ion-item>
    <label>Localidade</label>
    <ion-input></ion-input>
    </ion-item>
    </div> <br>

    <div>
    <ion-button color="danger" id="btn">
    <ion-icon name="search-outline"></ion-icon>
    Buscar
    </ion-button>
    </div>

    </ion-content>
    </ion-app>

